.wrapper-main-desk{
    justify-content: space-around;
     border-radius: 3%;
}

.column {
    display: flex;
    width: 30%;
    height: 80vh;
    border: 1px solid rgb(93, 93, 101);
    border-radius: 3%;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;

    &-title {
        margin-bottom: 10px;
        padding: 5px;
        
    } 

    &-btn{
        width: 100%;
        margin-bottom: -1px;
        
    }
   
}
    
.modal-window-added {
    position: absolute;
    inset: 0;
    margin: auto;
    width: 300px;
    height: 200px;
    position: absolute;
    outline: 1px solid  rgb(93, 93, 101);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 3%;
    background-color: rgba(196, 228, 196);
   
        .text-content {
            margin-bottom: 20px;
           
            #todo-title {
                width: 180px;
            }
            #todo-description{
                width: 250px;
                min-height: 70px;
                max-height: 100px;
                resize: none;
            }
        
        }
        .modal-window-btn {
            display: inline-flex;
            justify-content: space-between;
                  
        .select-button {
            position: relative;

            label{
                position: absolute;
                }

            select{
                width: 150px;
            }

        }
        .cancel-button {
            margin: 0 5px;
        }
    }
    
    
}



